# Terraform
.terraform/
*.tfstate
*.tfstate.*


# Terraform variable files if they contain secrets

#*.tfvars.json

# Crash logs
crash.log
crash.*.log

# Terraform plans
*.tfplan
tfplan

# SSH keys
*.pem
*.key
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub

# Mac
.DS_Store